#designx {
float: left;
}

#p1 {
float: left;
}

#p2 {
float: left;
}

#p3 {
float: left;
}

#p4 {
float: left;
}

#mbga {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 400px;}
#image0 {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;}
#image1 {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;}
#image2 {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;;
}
#image3 {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;;
}
#image4 {
    position: absolute;
    top: 50px;
    width: 400px;
    height: 300px;;
}
#design {
    position: absolute;
    top: 53px;
    width: 400px;
    height: 400px;
    text-align: left;
    margin-left: 3px;
    background-image: url('https://jesuispersonality.xyz/create-personal-a-tea-selfie/images/earl-grey-hongoram-female.jpg');
}

#personality-a {
    position: absolute;
    top: 85px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 0px;
    font-size: 140%;
    color: #80267d;
}

#personality-b {
    position: absolute;
    top: 70px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 100px;
    font-size: 140%;
    color: #80267d;
}
#personality-c {
    position: absolute;
    top: 75px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 200px;
    font-size: 140%;
    color: #80267d;
}
#personality-d {
    position: absolute;
    top: 80px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-left: 300px;
    font-size: 140%;
    color: #80267d;
}
#nameMugArea {
    position: absolute;
    top: 410px;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 200%;
    color: #80267d;
}

#pCode {
    position: absolute;
    top: 450px;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 80%;
    color: #80267d;
    padding-left: 30px;
    font-family: Arial, Georgia, sans-serif;
}

#checkAvatare {
    width: 400px;
    height: auto;
    text-align: center;
    font-size: 200%;
    color: #777;
}

#gift, #display-avatar {
display: none;
}